<link rel="stylesheet" href="css/massege.css">
<link rel="stylesheet" href="css/auth.css">
<%- include('parts/header.ejs') %>
<%- include('parts/navbar.ejs') %>
<link rel="stylesheet" href="css/Table.css">

<div class="containe">
    <% if (items.length === 0) { %>
        <div class="alert alert-err">There is no items</div>
    <% } else { %>
        <% if (valisationErrors.length !== 0) { %>
            <div class="alert alert-err"><% valisationErrors %> </div>
        <% } %>
        <table>

            <thead>
                <td>no</td>
                <td>Product name</td>
                <td>Price</td>
                <td>Amount</td>
                <td>Total</td>
                <td></td>
            </thead>

            <tbody>
                <% for( let i = 0; i < items.length; i++ ) { %>
                    <tr>
                        <td> <%= i + 1 %>  </td>
                        <td> <%= items[i].name %>  </td>
                        <td> <%= items[i].price %> $ </td>
                        <form method="POST">
                            <td> <input type="Number" name="amount" class="frm" value="<%= items[i].amount %>" min="1"> </td>
                            <td> <%= Number( items[i].price) * Number(items[i].amount) %> $ </td>
                            <td>
                                <input type="hidden" name="cartId" value="<%= items[i]._id %>">
                                <button type="submit" class="btn-pr" formaction="/cart/save">Save</button>
                                <button type="button" class="btn-pr" data-id="order" id="btn-messge" data="<%= items[i].name + "," + items[i].amount + ',' + items[i]._id + "," + id %>">Orders</button>
                                <button type="submit" class="btn-pr" style="background: #f54;" formaction="/cart/delete">Delet</button>
                            </td>
                        </form>
                    </tr>
                <% } %>
            </tbody>

        </table>

    <% } %> 

</div>



<div class="mm" id="order">
    <form class="messge-btn black" action="/orders" method="POST" style="width: 40%">
        <div class="title">
            Address
        </div>
        <div class="messge-M" id="1ad58s7r1ft6s48zg4a1">
            
        </div>
        <div class="bottom-messge">
            <button type="submit">OK</button>
            <button type="button" id="clous" class="sss">Censel</button>
        </div>
    </form>
    <div id="clous" class="blur"></div>
</div>

<script src="js/massege.js"></script>
<%- include('parts/footer.ejs') %>