<%- include('parts/header.ejs') %> 
<%- include('parts/navbar.ejs') %> 
<form action="/" method="GET" style="text-align: center;">
    <select name="category" class="frm filter" style="width: 85%;">
        <option value="all">All</option>
        <option value="clothes">Clothes</option>
        <option value="phones">Phones</option>
        <option value="computers">Computers</option>
    </select>
    <button type="submit" class="btn-pr">Fillter</button>
</form>
<div class="container">
    
    <% if (products.length === 0) { %>
        <h1 style="color: #fff;">there is no products</h1>
    <% } else { %>
        <% for( let product of products ) { %>
            <!--<div class="box">
                <h2 class="name"><a href="/product/<%= product._id %>"> <%= product.name %> </a></h2>
                <a href="#" class="buy">Buy Now</a>
                <div class="circle"></div>
                <img src="<%= product.image %>"  class="product">
                <div class="before">NIKE</div>
                <div class="after">SHOES</div>
            </div>-->
    
            <div class="card itemBox <%= product.category %>">
                <div class="imgBx">
                    <img src="<%= product.image %>">
                </div>
                <div class="contentBx">
                    <h3><a href="/product/<%= product._id %>"> <%= product.name %> </a></h3>
                    <h2 class="price">Price: <%= product.price %>$</h2>
                    <form action="/cart" method="POST" class="form-amount">
                        <label for="">amount : </label>
                        <input type="number" name="amount" value="1" class="frm" min="1">
                        <button type="submit" class="btn-pr">Add to cart</button>
                    </form>
                </div>
            </div>
        <% } %>
    <% } %> 
    
</div>

<%- include('parts/footer.ejs') %> 
<script src="js/jQ.js"></script>
<script>
    $(document).ready(function() {
    $('.filter').change(function() {

        //document.write()
        const valua = $(this).val()

        if (valua == 'all') {
            $('.itemBox').show('1000')
        } else {
            $('.itemBox').not("." + valua).hide('1000')
            $('.itemBox').filter("." + valua).show('1000')
        }
        })
    })
</script>