<link rel="stylesheet" href="css/auth.css">
<%- include('parts/header.ejs') %>
<%- include('parts/navbar.ejs') %>
<link rel="stylesheet" href="css/Table.css">

<style>
    .btn-disabled{
        opacity: 0.7;
        cursor: no-drop !important;
    }
</style>

<Table>

    <thead>
        <td>Product name</td>
        <td>amount</td>
        <td>address</td>
        <td>status</td>
        <td>time</td>
        <td></td>
    </thead>

    <tbody>
        <% for( let i = 0; i < orders.length; i++ ) { %>
            <tr>
                <td><%= orders[i].name %></td>
                <td><%= orders[i].amount %></td>
                <td><%= orders[i].address %></td>
                <td><%= orders[i].status %></td>
                <td><%= orders[i].time %></td>
                <form action="/orders/Cancel" method="POST">
                    <% const b = orders[i].status == "pending"
                    if ( b ) { %>
                        <input type="hidden" name="id" value="<%= orders[i]._id %>">
                    <% } %>
                    <td><button <%= !b ? "disabled type=button class=btn-disabled": "type=submit" %> class="btn-pr" style="background: #f54; margin: 6px">Cancel</button></td>
                </form>
            </tr>
        <% } %>
    </tbody>

</Table>

<%- include('parts/footer.ejs') %>