<%- include('parts/header.ejs') %> 
<%- include('parts/navbar.ejs') %> 

<div class="cart-group-2">

    <div class="cart-gr">
        <% if (!product) { %>
            <h1 style="color: #fff">there is no product matches this id</h1>
        <% } else { %>
            <div class="card">
                <div class="imgBx">
                    <img src="/<%= product.image %> ">
                </div>
                <div class="contentBx">
                    <form action="/cart" method="POST" class="form-amount">
                        <label for="inp-frm">Amount :</label>
                        <input type="number" name="amount" class="frm" id="inp-frm">
                        <button type="submit" class="btn-pr">Add to cart</button>
                    </form>
                </div>
            </div>
        <% } %> 
    </div>

    <div class="cart-gr">
        <div class="cart-propartis">
            <h2 style="color: rgb(255, 159, 159);"><%= product.name %></h2>
            <h4 style="color: rgb(255, 89, 89);">Price :<%= product.price %> $</h4>
            <b><p dir="rtl"><%= product.description %></p></b>
        </div>
    </div>

</div>

<%- include('parts/footer.ejs') %> 